.blogs {
	overflow: hidden;
	padding: 60px 0;

	.section-title {
		.slider-btns {
			gap: 12px;
		}
	}
	.blog-slider-wrapper {
		.blog-slider {
			border-radius: 16px;
			overflow: hidden;

			.blog-item {
				padding: 0 8px;
				.bi-image {
					max-height: 393px;
				}
			}
		}
	}

	.blog-next {
		transform: rotate(180deg);
	}

	.blog-next,
	.blog-prev {
		&.slick-disabled {
			opacity: 0.5;
		}
		rect,
		path {
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			rect {
				fill: $lightGreen;
			}
			path {
				fill: $white;
			}
		}
	}
}

@media (min-width: 768px) {
	.blogs {
		padding: 80px 0;
		.blog-slider-wrapper {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 112px;
				background: linear-gradient(
					270deg,
					#fff 0%,
					rgba(255, 255, 255, 0) 100%
				);
				z-index: 1;
				height: calc(100% - 44px);
			}
		}
	}
}
@media (min-width: 992px) {
	.blogs {
		padding: 96px 0;
	}
}
@media (min-width: 1200px) {
	.blogs {
		position: relative;
		padding: 120px 0 262px;
		.section-title {
			h2 {
				margin-bottom: 28px;
			}
			.st-brief {
				margin-bottom: 32px;
			}
		}

		.blog-items {
			position: absolute;
			top: 44%;
			transform: translateY(-50%);
			right: 0;
			bottom: 0;
			max-width: 69%;
		}
	}
}

@media (min-width: 1600px) {
	.blogs {
		.blog-items {
			max-width: 65%;
		}
	}
}

@media (min-width: 1920px) {
	.blogs {
		.blog-items {
			max-width: 60.5%;
		}
	}
}
