.package-listing {
	padding: 60px 0;
	.row {
		> div {
			&:not(:last-child) {
				.package-item {
					margin-bottom: 32px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.package-listing {
		padding: 80px 0;
		.row {
			--bs-gutter-y: 32px;
			> div {
				&:not(:last-child) {
					.package-item {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.package-listing {
		padding: 96px 0;
	}
}
