.page-banner {
	height: calc(100vh - 100px);
	.pb-content {
		position: relative;
		height: 100%;

		.feature-image {
			filter: blur(8px);
			height: 100%;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.pb-absolute-text {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 24px;
			right: 24px;

			h1,
			span {
				color: #fff;
			}

			h1 {
				margin-bottom: 40px;
			}

			.pb-reviews {
				gap: 8px;
				ul {
					li {
						line-height: 0;
					}
				}
				> p {
					font-size: 14px;
					font-weight: 600;
					line-height: 140%;
					letter-spacing: -0.035px;
					> span {
						&:last-child {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.page-banner {
		height: auto;
		.pb-content {
			.pb-absolute-text {
				left: 50%;
				top: 50%;
				right: unset;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@media (min-width: 1200px) {
	.page-banner {
		.pb-content {
			.pb-absolute-text {
				h1 {
					min-width: 991px;
				}
			}
		}
	}
}
