.testimonials {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		right: -150px;
		top: 0;
		width: 886px;
		height: 655.65px;
		background: url(../images/bg-02.svg);
		background-position: center;
		background-repeat: no-repeat;
		z-index: -1;
	}
}
