.destination-overview {
	.inner-content {
		.highlights {
			margin-top: 3px;
			h5 {
				margin-bottom: 16px;
			}
			ul {
				li {
					gap: 24px;
					padding-left: 20px;
					position: relative;

					&::before {
						content: "";
						width: 12px;
						height: 10px;
						position: absolute;
						top: 6px;
						left: 0;
						background: url(../images/icons/triangle-green.svg) no-repeat
							center/contain;
					}
					&:not(:last-child) {
						padding-bottom: 12px;
						margin-bottom: 12px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					}
					span {
						&:first-child {
							flex-basis: 25%;
						}
					}
				}
			}
		}
	}

	.do-image {
		max-width: 462px;
		margin-left: auto;
	}
}

@media (min-width: 768px) {
	.destination-overview {
		.inner-content {
			.highlights {
				margin-top: 40px;
			}
		}
	}
}
