.wishlist-auth-message {
	box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.08);

	.wam-content {
		max-width: 588px;
		margin: 0 auto;
		h6 {
			margin-bottom: 32px;
		}

		.bh-btn {
			width: 310px;
			text-align: center;
		}
	}
}
