$lightGreen: #7fb51f;
$darkGreen: #015637;
$white: #fff;
$black: #1e201f;
$secondary: #363a38;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #363a38;
}

h3 {
	font-weight: 700;
}

h1,
h2,
h3,
h5,
h6 {
	color: $black;
}

h4 {
	color: $secondary;
}

h3 {
	font-weight: 700;
}

h4,
h5,
h6 {
	font-weight: 600;
}

h1,
h2 {
	font-weight: 200;

	span {
		font-weight: 700;
		display: block;
	}
}

h2 {
	span {
		color: $lightGreen;
	}
}
p {
	margin: 0;
}

small {
	color: $black;
	display: inline-block;
}

ul,
li,
ol {
	padding: 0;
	margin: 0;
}

ul,
ol {
	li {
		list-style-type: none;
	}
}

/* Utility Classes*/

.sm-text {
	color: $secondary;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.035px;
}
.section-title {
	margin-bottom: 36px;
	h2 {
		margin-bottom: 16px;
	}
}

.stars {
	display: flex;
	justify-content: center;
	align-items: center;
}
