@media (min-width: 768px) {
	h4 {
		font-size: 24px;
	}

	h2 {
		font-size: 32px;
	}

	.bh-btn {
		&-filled-dark {
			font-size: 16px;
		}
		&-outlined {
			font-size: 16px;
		}
	}
	.section-title {
		margin-bottom: 48px;
		h2 {
			span {
				font-size: 32px;
			}
		}
		p {
			font-size: 14px;
			line-height: 140%;
			letter-spacing: -0.035px;
		}
	}
	.section-gap {
		margin-bottom: 80px;
	}

	.blog-item {
		.bi-image {
			max-height: 360px;
		}
	}

	.breadcrumb + section:not(.blog-detail-featured),
	.section-padding-y {
		padding: 80px 0;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 64px;
		line-height: 90%;
	}

	h2 {
		font-size: 40px;
		line-height: 108%;
		letter-spacing: -0.8px;
	}

	h3 {
		font-size: 32px;
		line-height: 130%;
	}

	small {
		font-size: 12px;
		line-height: 130%;
	}

	/*Utilities*/

	.section-title {
		h2 {
			span {
				font-size: 40px;
				line-height: 108%;
				letter-spacing: -0.8px;
			}
		}
	}
	.section-gap {
		margin-bottom: 96px;
	}

	.package-item {
		&.package-horizontal {
			box-shadow: none;
			background-color: #fff;
			padding: 12px 24px 12px 12px;

			.pi-image {
				border-radius: 4px;
				overflow: hidden;
			}

			.pi-content {
				padding: 0 110px 0 0;
				border-right: 1px solid rgba(0, 0, 0, 0.1);

				> small {
					margin-bottom: 24px;
				}
			}
			.pl-key-indicator {
				margin-bottom: 0;

				img {
					width: 18px;
					height: 18px;
					margin-top: -4px;
				}

				small {
					font-size: 16px;
					font-weight: 600;
					line-height: 148%;
					letter-spacing: -0.08px;
				}
				span {
					small {
						&:not(:last-child) {
							font-size: 14px;
							font-weight: 400;
							line-height: 140%;
							letter-spacing: -0.035px;
						}
					}
				}
			}
			.price-wrapper {
				margin-bottom: 24px;
			}
			.package-btn-group {
				a {
					&:first-child {
						margin-bottom: 8px;
					}
				}
			}
		}
	}

	.breadcrumb + section:not(.blog-detail-featured),
	.section-padding-y {
		padding: 96px 0;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1300px;
		padding: 0 50px;
	}
}

@media (min-width: 1920px) {
	.container {
		max-width: 1440px;
		padding: 0 50px;
	}
}

@media print {
	header,
	footer,
	.breadcrumb,
	.gallery-banner,
	.page-title-button,
	.package-aside,
	.package-listing,
	footer ~ div,
	.review-block,
	.faq-block,
	.handle-client-read-more {
		display: none;
	}

	.text-wrapper.text-expandable {
		max-height: unset;
	}
}
