$lightGreen: #7fb51f;
$darkGreen: #015637;
$white: #fff;
$black: #1e201f;
$secondary: #363a38;
$red: #f00;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #363a38;
	background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

h3 {
	font-weight: 700;
}

h1,
h2,
h3,
h5,
h6 {
	color: $black;
}

h4 {
	color: $secondary;
}

h3 {
	font-weight: 700;
}

h4,
h5,
h6 {
	font-weight: 600;
}

h1,
h2 {
	font-weight: 200;

	span {
		font-weight: 700;
		display: block;
	}
}

h2 {
	span {
		color: $lightGreen;
	}
}

h5 {
	font-size: 20px;
	line-height: 130%;
}

h6 {
	font-size: 18px;
	line-height: 130%;
}

p {
	margin: 0;
}

small {
	color: $black;
	display: inline-block;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.035px;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
svg,
rect,
path,
a {
	transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
	padding: 0;
	margin: 0;
}

ul,
ol {
	li {
		list-style-type: none;
	}
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

strong {
	font-weight: 600;
}

input,
textarea,
select {
	color: $secondary;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.035px;
	width: 100%;
	display: block;
	border-radius: 56px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 14px 24px;

	&:focus {
		outline-color: $lightGreen;
	}
	&::placeholder {
		opacity: 0.5;
	}
}

input {
	&[type="submit"] {
		background-color: $lightGreen;
		color: $white;
		text-align: center;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -0.28px;
		text-transform: uppercase;
		padding: 8px 24px;
	}
}

label {
	display: block;
	color: $black;
	font-weight: 500;
	line-height: 148%;
	letter-spacing: -0.08px;

	svg {
		margin-right: 4px;
	}
}

/* Utility Classes*/

.section-gap {
	margin-bottom: 60px;
}

.section-title {
	margin-bottom: 36px;
	h2 {
		margin-bottom: 16px;
	}
	p {
		color: $secondary;
	}

	.st-brief {
		max-width: 486px;
		> p {
			margin-bottom: 16px;
		}
	}
}

.bh-btn {
	transition: all 0.3s ease-in-out;
	&-filled-dark {
		padding: 8px 24px;
		color: #fff;
		border-radius: 46px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 148%;
		letter-spacing: -0.08px;
		background-color: $darkGreen;

		&:hover {
			background-color: $lightGreen;
		}
	}

	&-underlined {
		font-size: 14px;
		font-weight: 600;
		line-height: 140%;
		letter-spacing: -0.035px;
		text-decoration-line: underline;
		color: $lightGreen;

		&:hover {
			color: $darkGreen;

			svg {
				path {
					fill: $darkGreen;
				}
			}
		}
	}

	&-outlined {
		padding: 12px 24px;
		border: 1px solid $white;
		color: #fff;
		line-height: 148%;
		letter-spacing: -0.08px;
		border-radius: 46px;

		span {
			margin-left: 12px;
		}

		&.red-outline {
			border-color: $red;
			color: $red;
			padding: 8px 24px;
		}
		&.green-outlined {
			border-color: $darkGreen;
			color: $darkGreen;
			font-weight: 600;
			padding: 8px 24px;

			svg {
				margin-left: 8px;
			}

			&:hover {
				background-color: $darkGreen;
				color: $white;
				svg {
					path {
						fill: $white;
					}
				}
			}
			&.show-less {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}

	&-pan,
	&-filled-light {
		line-height: 148%;
		letter-spacing: -0.08px;
	}

	&-plan {
		padding: 6px 24px;
		border-radius: 46px;
		border: 1px solid $white;
		color: $white;
	}
	&-filled-light {
		padding: 6px 24px;
		border-radius: 46px;
		border: 1px solid $white;
		background: $white;
		color: $black;
	}
}

.sm-text {
	color: $secondary;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.035px;
}

.discount {
	border-radius: 4px;
	background: #e2e9f1;
	color: $secondary;
	font-size: 10px;
	font-weight: 600;
	line-height: 130%;
	padding: 4px 6px;
}

.group-discount-btn {
	color: $black;
	border-radius: 28px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f9f9f9;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.035px;
	padding: 8px 12px;
	font-weight: 600;

	&:not(.download-pdf) {
		font-size: 12px;
		line-height: 130%;
		svg {
			transform: rotate(180deg);
		}
	}
	&.active {
		svg {
			transform: rotate(0deg);
		}
	}
}

.stars {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 32px;

	li {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $secondary;
		opacity: 0.2;

		&.slick-active {
			background-color: $lightGreen;
			opacity: 1;
		}

		* {
			display: none;
		}
	}
}

.bg-white {
	background-color: $white;
}

.wishlist {
	position: relative;

	&.filled {
		svg {
			stroke: $red;
			path {
				fill: $red;
			}
		}
		sup {
			opacity: 1;
			visibility: visible;
		}
	}
	sup {
		color: $white;
		font-size: 10px;
		font-weight: 600;
		line-height: 130%;
		width: 14px;
		height: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 24px;
		border: 1px solid #fff;
		background: #ee2f3a;
		position: absolute;
		bottom: 11px;
		left: 12px;
		opacity: 0;
		visibility: hidden;
	}
}

.tag {
	padding: 4px 16px;
	border-radius: 8px 0 0 0;
	position: absolute;
	top: 0;
	left: 0;

	small {
		font-weight: 600;
		color: #fff;
	}

	> div {
		display: none;
	}

	&.popular {
		background-color: #17a40b;

		#popular {
			display: inline-block;
		}
	}

	&.trending {
		background-color: #ec4c29;
		#trending {
			display: inline-block;
		}
	}

	&.most-selling {
		background-color: #3d85f1;
		#most-selling {
			display: inline-block;
		}
	}
}

.package-item {
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;

	.pi-image {
		position: relative;
		border-radius: 8px 8px 0 0;

		.discount {
			position: absolute;
			right: 12px;
			bottom: 12px;
		}
	}
	.wishlist {
		position: absolute;
		top: 8px;
		right: 8px;
	}

	.pi-content {
		padding: 16px;

		> a {
			display: block;
			margin-bottom: 12px;
		}
		> small {
			color: $secondary;
			margin-bottom: 12px;
		}

		.bh-btn {
			opacity: 0;
			transform: translateY(20px);
			visibility: hidden;
		}
	}

	.pl-key-indicator {
		padding: 8px 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 14px;

		small {
			font-weight: 600;
		}

		span {
			> small {
				&:last-child {
					font-weight: 400;
				}
			}
		}

		.indicator-item {
			&.multiple {
				small {
					text-decoration: underline;
				}
			}
		}
	}

	.price-wrapper {
		.price {
			gap: 8px;
		}
	}
	del {
		color: $red;
		font-size: 14px;
		font-weight: 700;
		line-height: 170%;
	}

	&:hover {
		.pi-content {
			.bh-btn {
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
			}
		}
	}
}

.package-item {
	&.package-horizontal {
		.pi-content {
			padding: 16px 16px 0 16px;
		}
		.price-wrapper {
			padding: 0 16px 16px;
		}
	}
}

.activity-item {
	position: relative;
	border-radius: 24px;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 60%,
			rgba(0, 0, 0, 0.7) 90%
		);
	}
	a {
		display: block;
		height: 100%;

		.ai-image {
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
			}
		}

		.ai-content {
			position: absolute;
			bottom: 24px;
			left: 20px;
			right: 20px;

			h6,
			p {
				color: #fff;
			}
			h6 {
				transition: all 0.3s ease-in-out;
			}
		}
	}

	&.featured {
		a {
			.ai-content {
				left: 24px;
				right: 24px;

				h6 {
					margin-bottom: 4px;
				}
			}
		}
	}
	&:not(.featured) {
		a {
			.ai-image {
				img {
					object-position: bottom;
				}
			}
			.ai-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	&:hover {
		a {
			.ai-image {
				img {
					transform: scale(1.1);
				}
			}
			.ai-content {
				h6 {
					color: $lightGreen;
				}
			}
		}
	}
}

.blog-item {
	.bi-image {
		border-radius: 16px;
		margin-bottom: 16px;
		max-height: 393px;
		overflow: hidden;

		a {
			display: block;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	.bi-content {
		small {
			color: $secondary;
			margin-bottom: 8px;
		}
		a {
			display: block;
			color: $black;
			font-weight: 600;
			line-height: 120%;
		}
	}

	&:hover {
		.bi-image {
			img {
				transform: scale(1.05);
			}
		}
		.bi-content {
			a {
				color: $lightGreen;
			}
		}
	}
}

.popular-destination-item {
	margin-bottom: 32px;

	.pdi-image {
		max-height: 124px;
		overflow: hidden;
		border-radius: 8px;
		margin-bottom: 8px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.pdi-content {
		a {
			font-weight: 600;
		}
		span {
			font-size: 12px;
			line-height: 130%;

			strong {
				color: $black;
			}
		}
	}

	&:hover {
		.pdi-content {
			a {
				color: $lightGreen;
			}
		}
	}
}

.breadcrumb + section,
.section-padding-y {
	padding: 60px 0;
}

.faq-title,
.fo-title {
	position: relative;
	cursor: pointer;

	> * {
		max-width: calc(100% - 44px);
		cursor: pointer;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 24px;
		transition: all 0.3s ease-in-out;
		width: 20px;
		height: 20px;
		background: url(../images/icons/angle-up-dark.svg) no-repeat center/contain;
		transform: translateY(-50%) rotate(180deg);
		transition: all 0.3s ease-in-out;
	}
}

.faq-content-wrapper {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	.faq-content {
		overflow: hidden;
	}
}

.faq-wrapper {
	&.expand {
		.faq-content-wrapper {
			grid-template-rows: 1fr;
			overflow: auto;
		}
		.faq-title,
		.fo-title {
			&::before {
				transform: translateY(-50%) rotate(0);
			}
		}
	}
}

.pagination {
	margin-top: 44px;
	ul {
		gap: 12px;

		li {
			a,
			button {
				font-size: 18px;
				font-weight: 600;
				line-height: 130%;
				color: $secondary;
				width: 32px;
				height: 32px;
				line-height: 32px;
				text-align: center;
				border-radius: 24px 24px 0px 0px;
			}
			&.active,
			&:hover {
				a,
				button {
					background-color: $darkGreen;
					color: $white;

					svg {
						path {
							stroke: $white;
						}
					}
				}
			}

			button {
				transition: all 0.3s ease-in-out;
				&.page-next-btn {
					transform: rotate(90deg);
				}
				&.page-prev-btn {
					transform: rotate(-90deg);
				}
			}
		}
	}
}

.stars {
	li {
		position: relative;
		line-height: 0;
		.filled-star {
			position: absolute;
			inset: 0;
			overflow: hidden;

			img {
				min-width: 14px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.socials {
	gap: 12px;

	li {
		a {
			&:hover {
				svg {
					fill: $lightGreen;
				}
				rect {
					stroke: $lightGreen;
				}
				path {
					fill: $white;
				}
			}
		}
	}
}

.aside-item {
	border-radius: 8px;
	border: 1px solid #e5e5e5;
	background: #f9f9f9;
	padding: 24px;

	h4 {
		margin-bottom: 24px;
	}

	ul {
		li {
			a {
				display: block;
				width: 100%;
				padding-bottom: 6px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}

			&:not(:first-child) {
				padding-top: 24px;
			}

			&.active,
			&:hover {
				a {
					font-weight: 600;
					color: $lightGreen;
					border-color: $lightGreen;
				}
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

.text-wrapper {
	position: relative;
	margin-bottom: 8px;

	.text-read-more {
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&.text-expandable {
		max-height: 144px;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 70px;
			background: linear-gradient(to top, #f9f9f9, transparent);
		}
	}
}
