@media (min-width: 768px) {
	.section-title {
		margin-bottom: 48px;
		p {
			font-size: 14px;
			line-height: 140%;
			letter-spacing: -0.035px;
		}
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 64px;
		line-height: 90%;
	}

	h2 {
		font-size: 40px;
		line-height: 108%;
		letter-spacing: -0.8px;
	}

	h3 {
		font-size: 32px;
		line-height: 130%;
	}

	h4 {
		font-size: 24px;
		line-height: 130%;
	}
	small {
		font-size: 12px;
		line-height: 130%;
	}

	/*Utilities*/
	.section-gap {
		margin-bottom: 96px;
	}
}

@media (min-width: 1300px) {
	.container {
		max-width: 1300px;
		padding: 0 50px;
	}
}
