.header {
	padding: 24px 0;
	position: relative;
	z-index: 2;

	.header-logo {
		max-width: 236px;
		gap: 12px;
		a {
			img {
				&:last-child {
					display: none;
				}
			}
		}
	}

	&.front-page-header:not(.sticky) {
		.header-logo {
			img {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline-block;
				}
			}
		}

		.profile {
			&.menu-has-children {
				a {
					&::after {
						background: url(../images/icons/triangle-down.svg);
					}
				}
			}
		}
	}

	&:not(.front-page-header),
	&.sticky {
		background-color: #fff;

		.bh-btn {
			&-plan {
				color: $darkGreen;
				border-color: $darkGreen;
			}
			&-filled-light {
				background-color: $darkGreen;
				color: $white;
			}
		}
	}

	&.sticky {
		background-color: #fff;
		position: fixed !important;
		top: 0;
		left: 0;
		right: 0;
		animation: FadeIn 0.3s ease-in-out forwards;
		z-index: 3;
	}

	&.front-page-header:not(.sticky) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	.header-content-wrapper {
		.primary-menu {
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			min-height: 100vh;
			background-color: $white;
			min-width: 320px;
			z-index: 9;
			opacity: 0;
			visibility: hidden;
			transition: all 0.1s ease-in-out;
			transform: translateX(-100%);
			overflow: auto;

			&.active {
				visibility: visible;
				opacity: 1;
				transform: translateX(0%);
			}

			.mobile-menu-header {
				padding: 24px;
				.header-logo {
					a {
						img {
							display: inline-block !important;
						}
					}
				}
			}

			> ul {
				padding: 0 24px 24px 24px;
				> li {
					> a {
						line-height: 148%;
						letter-spacing: -0.08px;
						padding: 12px 0;
						width: 100%;

						&:hover {
							color: $lightGreen !important;
						}
					}
					&.active {
						a {
							color: $lightGreen !important;
						}
					}
				}
			}
		}

		.header-right {
			gap: 16px;
			position: relative;
		}
	}

	.menu-has-children,
	.mega-menu {
		> a {
			// padding-right: 12px;
			position: relative;

			&::after {
				content: "";
				width: 7px;
				height: 4px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				background-image: url(../images/icons/triangle-down-dark.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.3s ease-in-out;
			}
		}
		&.active {
			> a {
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	.menu-has-children {
		position: relative;

		&:hover,
		&.active {
			.dropdown-items {
				grid-template-rows: 1fr;

				li {
					&:hover {
						a {
							span {
								color: $lightGreen;
							}
						}
					}
				}
			}
		}
	}

	.profile {
		position: relative;

		.profile-image {
			a {
				display: block;
				max-width: 36px;

				&::after {
					right: -12px;
				}
			}
		}

		.dropdown-items {
			position: absolute;
			border-radius: 8px;
			border: 1px solid #e5e5e5;
			background: #fff;
			box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
			top: 40px;
			padding: 16px 8px 16px 20px;
			min-width: 232px;
			opacity: 0;
			visibility: hidden;
			transform: translateY(15px);
			transition: all 0.2s ease-in-out;
			display: block;
			left: unset;
			right: 0;

			li {
				&:hover {
					a {
						span {
							color: $lightGreen;
						}
						p {
							&::before {
								background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.3173 8.00098C11.3173 8.20957 11.2376 8.41813 11.0787 8.57716L6.07423 13.5816C5.75588 13.8999 5.23974 13.8999 4.92152 13.5816C4.60331 13.2633 4.60331 12.7473 4.92152 12.4289L9.34973 8.00098L4.92168 3.573C4.60346 3.25466 4.60346 2.73867 4.92168 2.42048C5.23989 2.10198 5.75603 2.10198 6.07438 2.42048L11.0788 7.42479C11.2378 7.5839 11.3173 7.79247 11.3173 8.00098Z" fill="%237fb51f"/></svg>');
							}
						}
					}
				}
			}
		}

		&.menu-has-children {
			&:hover {
				.dropdown-items {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.dropdown-items {
		display: grid;
		grid-template-rows: 0fr;
		transition: all 0.3s ease-in-out;
		overflow: hidden;

		ul {
			overflow: hidden;
			li {
				&:last-child {
					margin-bottom: 24px;
				}
			}
		}

		&.show-dropdown {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	.dropdown-menu-item {
		&:not(:last-child) {
			a {
				padding-bottom: 12px;
			}
		}

		&:not(:first-child) {
			border-top: 1px solid #e5e5e5;
			a {
				padding-top: 12px;
			}
		}
	}
}

.dropdown-menu-item {
	a {
		display: block;

		img {
			max-width: 32px;
		}
		span {
			font-weight: 600;
			line-height: 140%;
			letter-spacing: -0.035px;
			color: $black;
			transition: all 0.3s ease-in-out;
			margin-left: 8px;
		}

		p {
			position: relative;
			&::before {
				content: "";
				background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g opacity="0.8"><path d="M7.5 3.75L13.75 10L7.5 16.25" stroke="%23363A38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 16px;
				height: 16px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;

	&.dark {
		background: #292929;
		z-index: 3;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.mega-menu-wrapper {
	border-radius: 8px;
	box-shadow: 0px 4px 112px 8px rgba(0, 0, 0, 0.1);
	max-width: 1200px;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	left: 20px;
	right: 20px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
	transition: all 0.3s ease-in-out;

	&.show {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.tab-content-wrapper {
		padding-right: 20px;
		.tab-content {
			display: none;
			overflow: hidden;
			&.active {
				display: block;
			}
		}
	}

	.dropdown-menu-item {
		img {
			max-width: 28px;
			height: 28px;
			border-radius: 50%;
			border: 1px solid transparent;
			transition: all 0.3s ease-in-out;
		}

		&:not(:last-child) {
			a {
				padding-bottom: 0;
			}
		}

		&:not(:first-child) {
			a {
				padding-top: 0;
			}
		}
	}

	.mm-controller,
	.tab-content-wrapper {
		overflow: auto;

		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			width: 3px;
			background-color: #e5e5e5;
		}
		&::-webkit-scrollbar-thumb {
			width: 3px;
			background-color: $lightGreen;
		}
	}

	.mm-controller {
		overflow-y: auto;
		position: fixed;
		top: -80px;
		left: 0;
		right: -10px;
		background-color: $white;
		z-index: 3;
		padding: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.1s ease-in-out;
		max-height: 100vh;

		.back-to-mobile-menu {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			svg {
				transform: rotate(180deg);
				margin-right: 16px;
				path {
					stroke: $white;
				}
			}
		}

		&.activate-fixed-menu {
			opacity: 1;
			visibility: visible;
		}

		.dropdown-menu-item {
			border: 1px solid rgba(54, 58, 56, 0.2);
			border-radius: 8px;
			transition: all 0.3s ease-in-out;

			a {
				padding: 10px 16px;
			}

			span {
				text-transform: capitalize;
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&:hover {
				background-color: $darkGreen;
				span {
					color: #fff;
				}

				img {
					border-color: $white;
				}
				a {
					p {
						&::before {
							background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.3173 8.00098C11.3173 8.20957 11.2376 8.41813 11.0787 8.57716L6.07423 13.5816C5.75588 13.8999 5.23974 13.8999 4.92152 13.5816C4.60331 13.2633 4.60331 12.7473 4.92152 12.4289L9.34973 8.00098L4.92168 3.573C4.60346 3.25466 4.60346 2.73867 4.92168 2.42048C5.23989 2.10198 5.75603 2.10198 6.07438 2.42048L11.0788 7.42479C11.2378 7.5839 11.3173 7.79247 11.3173 8.00098Z" fill="%23fff"/></svg>');
						}
					}
				}
			}
		}
	}

	.tab-content-wrapper {
		position: fixed;
		top: -80px;
		left: -16px;
		right: -16px;
		background-color: $white;
		padding: 24px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.1s ease-in-out;
		z-index: 99;

		&.show-tab-content {
			opacity: 1;
			visibility: visible;
		}
	}

	.tc-header {
		margin-bottom: 12px;
		cursor: pointer;

		.dropdown-menu-item {
			gap: 8px;
			position: relative;
			padding-left: 32px;
			margin-bottom: 20px;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%) rotate(-90deg);
				width: 32px;
				height: 32px;
				background: url(../images/icons/angle-up-dark.svg) no-repeat
					center/cover;
			}
		}
	}

	.inner-tab {
		gap: 28px;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 28px;
		overflow: auto;

		li {
			a {
				font-size: 16px;
				font-weight: 600;
				line-height: 130%;
				padding: 12px 0;
				position: relative;
				text-wrap: nowrap;

				&::after {
					content: "";
					width: 100%;
					height: 2px;
					background-color: $lightGreen;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					transition: all 0.3s linear;
					transform-origin: left;
					transform: scaleX(0);
				}
			}

			&:hover,
			&.active {
				a {
					color: $lightGreen;
					&::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	.tc-list-box {
		margin-bottom: 32px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		max-height: 275px;
		overflow-y: auto;

		.tclb-item {
			margin-bottom: 32px;

			h6 {
				margin-bottom: 8px;
			}
			ul {
				li {
					width: 100%;

					a {
						display: block;
						width: 100%;

						line-height: 148%;
						letter-spacing: -0.08px;

						&:hover {
							color: $lightGreen;
						}
					}

					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}

.inner-tab-content {
	display: none;

	&.active {
		display: block;
	}

	.row {
		--bs-gutter-x: 0;
	}
}

@media (min-width: 576px) {
	.mega-menu-wrapper {
		.tc-header {
			.dropdown-menu-item {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 768px) {
	.header {
		.header-content-wrapper {
			.primary-menu {
				min-width: 500px;

				.mobile-menu-header {
					padding: 40px;
				}
				> ul {
					gap: 24px;
					padding: 0 40px 40px;
				}
			}
		}

		.mega-menu-wrapper {
			.tc-header {
				margin-bottom: 36px;
				.dropdown-menu-item {
					margin-bottom: 0;
				}
			}

			.mm-controller {
				right: 0;
			}

			.tab-content-wrapper {
				left: 0;
				right: 0;
			}

			.tc-list-box {
				max-height: 300px;
			}

			.inner-tab-content {
				--bs-gutter-x: 1.5rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		.header-content-wrapper {
			.primary-menu {
				position: unset;
				background-color: transparent;
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				min-width: auto;
				min-height: auto;
				overflow: visible;

				> ul {
					padding: 0;
					> li {
						> a {
							padding: 0;
							width: auto;
						}
						&.menu-has-children,
						&.mega-menu {
							> a {
								padding-right: 12px;
							}
						}
					}
				}
			}
		}
		&.front-page-header:not(.sticky) {
			.primary-menu {
				> ul {
					> li {
						> a {
							color: #fff;
						}
					}
				}
			}

			.menu-has-children,
			.mega-menu {
				> a {
					&::after {
						background-image: url(../images/icons/triangle-down.svg);
					}
				}
			}
		}

		.dropdown-items {
			position: absolute;
			border-radius: 8px;
			border: 1px solid #e5e5e5;
			background: #fff;
			box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
			top: 60px;
			left: 0;
			padding: 16px 8px 16px 20px;
			min-width: 232px;
			opacity: 0;
			visibility: hidden;
			transform: translateY(15px);
			transition: all 0.2s ease-in-out;
			display: block;

			&.show-dropdown {
				grid-template-rows: 1fr;
			}

			ul {
				li {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.menu-has-children {
			&.active {
				.dropdown-items {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}

		.mega-menu-wrapper {
			background-color: $white;
			padding: 40px 20px 40px 40px;

			.tc-header {
				cursor: auto;
				.dropdown-menu-item {
					&::before {
						display: none;
					}
				}
			}
			.mm-controller,
			.tab-content-wrapper {
				max-height: calc(100vh - 100px);
				padding: 0;
				opacity: 1;
				visibility: visible;
			}

			.mm-controller {
				background-color: transparent;
				position: unset;
				padding: 0;
				transform: translateY(0);

				.dropdown-menu-item {
					&.active {
						background-color: $darkGreen;
						span {
							color: #fff;
						}

						img {
							border-color: $white;
						}
						a {
							p {
								&::before {
									background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.3173 8.00098C11.3173 8.20957 11.2376 8.41813 11.0787 8.57716L6.07423 13.5816C5.75588 13.8999 5.23974 13.8999 4.92152 13.5816C4.60331 13.2633 4.60331 12.7473 4.92152 12.4289L9.34973 8.00098L4.92168 3.573C4.60346 3.25466 4.60346 2.73867 4.92168 2.42048C5.23989 2.10198 5.75603 2.10198 6.07438 2.42048L11.0788 7.42479C11.2378 7.5839 11.3173 7.79247 11.3173 8.00098Z" fill="%23fff"/></svg>');
								}
							}
						}
					}
				}
			}

			.tab-content-wrapper {
				position: unset;
			}

			.tc-list-box {
				max-height: unset;
				overflow: hidden;
			}
		}
	}
}

@keyframes FadeIn {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes FadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
