.inner-banner {
	position: relative;
	padding: 114px 24px 136px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: 0.75;
		background: linear-gradient(
			180deg,
			#015637 25%,
			rgba(1, 86, 55, 0.5) 51.5%,
			#015637 90%
		);
	}

	.ib-content {
		position: relative;
		z-index: 1;
		text-align: center;
		h1 {
			font-family: "Kolker Brush";
			font-size: 256px;
			font-style: normal;
			font-weight: 400;
			line-height: 90%;
			letter-spacing: -5.12px;
		}
		h1,
		p {
			color: $white;
		}
	}
}
