.package-filter {
	padding: 60px 0;
	.pf-content {
		> h5 {
			margin-bottom: 24px;
		}
		.row {
			> div {
				&:not(:last-child) {
					.package-item {
						margin-bottom: 32px;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.package-filter {
		padding: 80px 0;
		.pf-content {
			.row {
				--bs-gutter-y: 32px;

				> div {
					&:not(:last-child) {
						.package-item {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.package-filter {
		padding: 96px 0;
	}
}
