.blog-with-aside {
	.blog-items {
		margin-bottom: 32px;
		.row {
			> div {
				&:not(:last-child) {
					.blog-item {
						margin-bottom: 32px;
					}
				}
			}
		}
	}
	.blog-aside {
		position: sticky;
		top: 100px;
	}
}

@media (min-width: 768px) {
	.blog-with-aside {
		.blog-items {
			.row {
				--bs-gutter-y: 32px;
				> div {
					&:not(:last-child) {
						.blog-item {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		.pagination {
			margin-top: 64px;
		}
	}
}
